/workdir/ttssh2
/workdir/ttssh2.org
/workdir/ttssh2.*
/workdir/*.tar.gz
/workdir/gitdir
/workdir/gitdir-repack
/workdir/.lesshst
/workdir/.subversion/
/workdir/*.txt
/workdir/*.log
/workdir/svnwork/
*.svndmp
.bash_history
identity-map
artifacts-*
