# Copied from https://qiita.com/igrep/items/97e5e9ca6f38e4da674a
# Copied from https://github.com/svn-all-fast-export/svn2git/blob/master/samples/merged-branches-tags.rules

#
# Declare the repositories we know about:
#

create repository ttssh2.git
end repository

#
# Declare the rules
# Note: rules must end in a slash
#

match /trunk/
  repository ttssh2.git
  branch master
end match

# 下記のようなエラーが出るため、問題のtagはスキップする。
# 参考: https://github.com/svn-all-fast-export/svn2git/issues/26
# Exporting revision 91340     /tags/broken_tag1 was copied from /tags rev 91339
# .ttssh2.git : branch broken_tag1 is branching from tags
# "broken_tag1" in repository "ttssh2.git" is branching from branch "tags" but the latter doesn't exist. Can't continue.
# 正規表現でマッチしているようなので、(broken_tag1|broken_tag2|broken_tag3)と書けば複数指定できる。
match /tags/(broken_tag1)/
end match

# Subversion doesn't understand the Git concept of tags
# In Subversion, tags are really branches
#
# Only a post-processing (i.e., after converting to Git) of the tag
# branches can we be sure that a tag wasn't moved or changed from the
# branch it was copied from
#
# So we don't pretend that SVN tags are Git tags and then import
# everything as one

match /(branches|tags)/([^/]+)/
  repository ttssh2.git
  branch \2
end match

match /([^/]+)/(branches|tags)/([^/]+)/
  repository ttssh2.git
  branch less-than-r3220/\1/\3
end match

match /([^/]+)/trunk/
  repository ttssh2.git
  branch less-than-r3220/\1/trunk
end match


# どうもbranchesでもtagsでもないディレクトリーがあるらしいので、ひとまずそういうブランチとして作ってしまう
match /(.*)/
  repository ttssh2.git
  branch top/\1
end match

# Expected structure

## For revision >= r3321
## trunk
## tags
## branches

## For r5 <= revision <= r3220
## TTProxy
## TTProxy/branches
## TTProxy/tags
## TTProxy/trunk
## TTXKanjiMenu
## TTXKanjiMenu/branches
## TTXKanjiMenu/tags
## TTXKanjiMenu/trunk
## TTXSamples
## TTXSamples/branches
## TTXSamples/tags
## TTXSamples/trunk
## cygterm
## cygterm/branches
## cygterm/tags
## cygterm/trunk
## doc
## doc/branches
## doc/tags
## doc/trunk
## installer
## installer/branches
## installer/tags
## installer/trunk
## japned
## japned/branches
## japned/tags
## japned/trunk
## teraterm
## teraterm/branches
## teraterm/tags
## teraterm/trunk
## ttpmenu
## ttpmenu/branches
## ttpmenu/tags
## ttpmenu/trunk
## ttssh2
## ttssh2/branches
## ttssh2/tags
## ttssh2/trunk

## For revision <= r4
## Attic
## Attic/branches
## Attic/tags
## Attic/trunk
